:root {
  --primary-color-1: none;
  --primary-color-2: none;
  --primary-color-3: none;
  --accent-color-1: none;
  --accent-color-2: none;
  --accent-color-3: none;
  --alternate-canvas-color: none;
  --alternate-color-1: none;
  --alternate-color-2: none;
  --alternate-text-color: none;
  --border-color: none;
  --canvas-color: none;
  --disabled-color: none;
  --secondary-text-color: none;
  --text-color: none;
}
