.badge-notify {
  position: relative !important;
  top: -12px !important;
  left: -12px;
  background-color: var(--accent-color-1);
}

.site-header {
  background-color: var(--primary-color-3);
  color: var(--text-color);
}

.category-label {
  background-color: var(--primary-color-1) !important;
  color: var(--text-color) !important;
}

.accordion-button::after {
  filter: brightness(0) invert(1);
}

.item-card {
  background-color: var(--primary-color-2);
  color: var(--secondary-text-color);
}

.item-card-head {
  min-height: 100px;
  background-color: var(--primary-color-3);
  color: var(--text-color);
}

.item-card-image {
  min-height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.item-card-description {
  min-height: 96px;
  display: flex;
  align-items: center;
  margin-top: auto;
}

.card-item-price {
  color: var(--alternate-color-1);
  font-weight: 700;
}

.item-card-select-btn {
  background-color: var(--accent-color-1);
  color: var(--text-color);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color-3) !important;
  color: var(--text-color) !important;
  padding: 5px 25px;
  height: 40px;
}

.footer a {
  color: var(--text-color) !important;
  text-decoration: none;
  margin: 0px 10px;
}

.modal-content {
  background-color: var(--alternate-canvas-color);
  color: var(--alternate-text-color);
}

.modal-footer {
  justify-content: space-between;
}

.add-to-cart-btn {
  background-color: var(--accent-color-3);
  color: var(--text-color);
}

.checkout-btn {
  background-color: var(--accent-color-1);
  color: var(--text-color);
}

